<main class="bg-white">
  <!-- HERO VIDEO -->
  <section class="relative">
    <div class="h-175 w-full relative overflow-hidden group cursor-pointer">
      <video
        #myVideo
        [src]="'assets/videos/4185240-hd_1920_1080_25fps.mp4'"
        class="h-full w-full object-cover"
        [poster]="'assets/images/video.jpg'"
        loop
        muted
        playsinline
        (play)="onPlay()"
        (pause)="onPause()"
      ></video>

      <div
        class="absolute inset-0 bg-black/20 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
      ></div>

      <button
        type="button"
        (click)="toggleVideo(myVideo)"
        hlmBtn
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-24 h-24 rounded-full bg-white/10 backdrop-blur-[2px] border border-white/20 grid place-items-center text-white opacity-0 scale-90 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300"
      >
        <lucide-icon
        [img]="icons.Play"
          *ngIf="!isPlaying()"
          name="play"
          [size]="48"
          strokeWidth="2"
          class="fill-white ml-1"
        >
        </lucide-icon>

        <lucide-icon
          *ngIf="isPlaying()"
          [img]="icons.Pause"
          name="pause"
          [size]="48"
          strokeWidth="2"
          class="fill-white"
        >
        </lucide-icon>
      </button>
    </div>
  </section>

  <!-- TITLE -->
  <section class="py-14 text-center">
    <h1 class="font-heading font-semibold text-[40px] text-[#1C1C1C]">Take a tour</h1>
  </section>

  <!-- ITEMS -->
  <section class="pb-24">
    <div class="mx-auto max-w-318 px-6 md:px-10 space-y-30">
      <!-- ITEM 1 -->
      <article class="relative rounded-[40px]">
        <img [src]="assets.item1" class="w-full h-142.5 object-cover" alt="Luxurious rooms" />
        <div class="absolute inset-0 bg-[#7C6A46]/10"></div>

        <div class="absolute left-1/2 -translate-x-1/2 top-100.75 w-197.5">
          <div class="h-5 bg-[#7C6A46] rounded-tl-4xl rounded-tr-4xl"></div>
          <div
            class="bg-white h-57.5 rounded-bl-4xl rounded-br-4xl shadow-[0px_4px_30px_-5px_rgba(0,0,0,0.15)] px-10 pt-8 text-center"
          >
            <h2 class="font-heading font-semibold text-[24px] text-[#7C6A46]">Luxurious rooms</h2>
            <p class="mt-4 font-heading font-medium text-[15px] text-black leading-6">
              The elegant luxury bedrooms in this gallery showcase custom interior designs &
              decorating ideas. View pictures and find your perfect luxury bedroom design.Luxurious
              bedrooms that will make you never want to leave your room again. See more ideas about
              luxurious bedrooms, bedroom design
            </p>
          </div>
        </div>
      </article>

      <!-- ITEM 2 -->
      <article class="relative rounded-[40px]">
        <img [src]="assets.item2" class="w-full h-142.5 object-cover" alt="Gym center" />
        <div class="absolute inset-0 bg-[#7C6A46]/10"></div>

        <div class="absolute left-1/2 -translate-x-1/2 top-100.75 w-197.5">
          <div class="h-5 bg-[#7C6A46] rounded-tl-4xl rounded-tr-4xl"></div>
          <div
            class="bg-white h-57.5 rounded-bl-4xl rounded-br-4xl shadow-[0px_4px_30px_-5px_rgba(0,0,0,0.15)] px-10 pt-8 text-center"
          >
            <h2 class="font-heading font-semibold text-[24px] text-[#7C6A46]">Gym center</h2>
            <p class="mt-4 font-heading font-medium text-[15px] text-black leading-6">
              The elegant luxury bedrooms in this gallery showcase custom interior designs &
              decorating ideas. View pictures and find your perfect luxury bedroom design.Luxurious
              bedrooms that will make you never want to leave your room again. See more ideas about
              luxurious bedrooms, bedroom design
            </p>
          </div>
        </div>
      </article>

      <!-- ITEM 3 -->
      <article class="relative rounded-[40px]">
        <img [src]="assets.item3" class="w-full h-142.5 object-cover" alt="Restaurant" />
        <div class="absolute inset-0 bg-[#7C6A46]/10"></div>

        <div class="absolute left-1/2 -translate-x-1/2 top-100.75 w-197.5">
          <div class="h-5 bg-[#7C6A46] rounded-tl-4xl rounded-tr-4xl"></div>
          <div
            class="bg-white h-57.5 rounded-bl-4xl rounded-br-4xl shadow-[0px_4px_30px_-5px_rgba(0,0,0,0.15)] px-10 pt-8 text-center"
          >
            <h2 class="font-heading font-semibold text-[24px] text-[#7C6A46]">Restaurant</h2>
            <p class="mt-4 font-heading font-medium text-[15px] text-black leading-6">
              The elegant luxury bedrooms in this gallery showcase custom interior designs &
              decorating ideas. View pictures and find your perfect luxury bedroom design.Luxurious
              bedrooms that will make you never want to leave your room again. See more ideas about
              luxurious bedrooms, bedroom design
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>

</main>
